<generic-table structure='ctr.structure' data='ctr.data' view-handler="ctr.viewHandler(entity);" add-handler="ctr.addNewHandler();" edit-handler="ctr.editHandler(entity);"></generic-table>
<button>test</button>