<div class="panel-body">
    <div>
        <h3 class="modal-title">Create table entry</h3>
        <h1>{{data}}</h1>
    </div>
    <!-- <form class="modal-body"> -->
        <div ng-repeat="(item,value) in data">
            <label for="rr">{{data[0].title}}</label>
            <!-- <label for="test" class="col-md-2">{{item}}</label>
			<input type="text" name="" id="test" size="30"  ng-model="mctrl.pam[item]" >-->
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="$ctrl.save()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
        </div>
    <!-- </form> -->
</div>