<div class="col-md-5">
    <h2>Table Component</h2>
    <div class="row">
        <p class="text-left text-strong pull-left">{{$ctrl.structure.title}}</p>
        <button class="btn btn-primary btn-sm pull-right" ng-click="$ctrl.add()">Add New</button>
    </div>
    <table class="table table-bordered table-striped">
        <thead>
            <th ng-repeat="column in $ctrl.structure.columns">
                {{column.title}}
            </th>
            <th>Actions</th>
        </thead>
        <tr ng-repeat="entity in $ctrl.data  track by $index">
            <td ng-repeat="column in $ctrl.structure.columns">
                <div ng-if="column.type == 'date'">{{entity[column.column] | date: 'dd-MM-yyyy'}}</div>
                <div ng-if="column.type != 'date'">{{entity[column.column]}}</div>
                <!-- <input ng-if="column.typeAhead != ''" ng-model="abc" uib-typeahead="states as states for states in states | filter:$viewValue | limitTo:8" typeahead-show-hint="true"></input> -->
            </td>
            <td>
                <button ng-click="$ctrl.edit(entity)">Edit</button>
                <button ng-click="$ctrl.view(entity)">View</button>
            </td>
        </tr>
    </table>
</div>